{%extends "base.html"%}
{%block app_content%}
<div>
<h3 id="myDiv">感知分布</h3>
<canvas id="main" style="width: 600px;height:500px;"></canvas>
</div>
{%endblock%}
{%block scripts%}
{{super()}}
<script>
    var obj=$('#myDiv');
    var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //      window.location.href="getSensor";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
            window.location.href="getUserTrend";
          }else if(X<-10){
            window.location.href="getSafe";
          }
          else if(X>5||X<-5){
           window.location.href="getSensor";
          }
        }
      }
    })
  var data={{data|safe}}
  var ctx=$('#main')
  var codeName=[],
      names=[];
  for(var i=0;i<data.result.list.length;i++){
    if(data.result.list[i].code=='hr'){
      codeName.push('人资系统')
    }
    else{
      codeName.push('访客系统')
    }
    names.push(data.result.list[i].name.split('%')[0])

  }
  var options={
    tooltips: {
      callbacks: {
        label: function (tooltipItem, data) {
          var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + '%';
          var title = data.labels[tooltipItem.index] + ':';
          return title + value;
         }
       }
    },
        legend: {
          // onClick: function () {},
          display: true,
          position: 'top',
          labels: {
            fontColor:'#FFFFFF'
          }
        },
        scales:{
          xAxes:[
          {
            // gridLines:{
            //   color:'rgba(0,0,0,0)',
            //   zeroLineColor:'#666666'
            // },
            barPercentage:0.2,//设置柱宽度
            ticks:{//设置轴文字字号和色值
              fontSize:12,
              fontColor:'#fff'
            }
          }],
           yAxes: [{
        // gridLines: {
        //   color: 'rgba(0, 0, 0, 0)',// 隐藏要y轴轴线
        //   zeroLineColor: '#666666'
        //   },
          ticks: {
            fontSize: 12,
            min:50,
            // beginAtZero: true,// y轴数据从0开始展示
            fontColor: '#fff'
           }
      }]
        }
    }

  var myChart=new Chart(ctx,{
    type:"bar",
    // scaleStartValue : 50,    //y轴的起始值
    // scaleStepWidth : 3,   //y轴每个刻度的宽度
    data:{
      labels:codeName,
      datasets:[
      { 
        label:'系统分布',
        data:names,
        backgroundColor: 'rgb(100,149,237)',
        borderColor: 'rgb(100,149,237)',
      }]
    },
    options:options
  });
</script>
{%endblock%}