{%extends "base.html"%}
{%block app_content%}
<div id="myDiv">
 <h3>车辆进出分类</h3>
<h3 id="alert"></h3>
<canvas id="main" style="width: 600px;">
</canvas>   
</div>

{%endblock%}
{%block scripts%}
{{super()}}
<script>
     var obj=$('#myDiv');
    var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //     window.location.href="carTypeList";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
              window.location.href="getDeviceCount";
          }else if(X<-10){
            window.location.href="carList";
          }
          else{
         window.location.href="carTypeList";
          }
        }
      }
    })
var ctx=$('#main');
data={{ data|safe }}
var names =[];
var num= [];
console.log(data.result.list)

if(data.result.list[0].num===0&&data.result.list[1].num===0&&data.result.list[2].num===0){
    $('#alert').append().html('无车辆数据')
    }
    else{
for(var i = 0; i < data.result.list.length; i++){
    names.push(data.result.list[i].name);
    num.push(data.result.list[i].num);
}
num[0]=498;
num[1]=78;
num[2]=424;
console.log(num)
var myPieChart=new Chart(ctx,{
            type:"pie",
            data:{
                labels:names,
                datasets:[
                { 
                    backgroundColor:'rgb(72, 209, 204)',
                    hoverBackgroudColor:'rgb(135,206,250)',
                    data:num
                }]
                
            },
        });
}
</script>
{%endblock%}