{%extends "base.html"%}
{% block app_content%}
<div>
  <h3 id="myDiv">设备抓拍</h3>
<canvas id="main" style="width: 600px;height:600px;"></canvas>
</div>

{%endblock%}
{%block scripts%}
{{super()}}
 <script type="text/javascript">  
    var obj=$('#myDiv');
    var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //     window.location.href="getDeviceCount";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
              window.location.href="getMap";
          }else if(X<-10){
            window.location.href="getDoorDetail";
          }
          else{
            return false;
          }
        }
      }
    });
  var data={{data|safe}};
  console.log(data)
  var deviceName =[];
  var num= [];
  if(data.result.list.length===0){
    alert('无数据')
  }
  else{
  for(var i = 0; i < data.result.list.length; i++){
      deviceName.push(data.result.list[i].deviceName);
      num.push(data.result.list[i].totalNum);
  }
  var ctx = $("#main");
  Chart.defaults.global.defaultFontColor = 'white';
  // var ctx = document.getElementById('main').getContext('2d');
  var chart=new Chart(ctx,{
      type:'bar',
      data:{
          labels: deviceName,
          datasets: [{
              label: '抓拍数量',
              data: num,
              backgroundColor: 'rgb(100,149,237)',
              borderColor: 'rgb(100,149,237)',
          }] 
      },
       options:{
          legend: {
            display: true,
            position: 'top',
            labels: {
              fontColor:'#FFFFFF'
            }
          }
      }
  })
}
</script>
{%endblock%}