{%extends "base.html"%}
{% block app_content%}
<div style="width:350px;height:1000px;">
<h3 id="myDiv">安全分布</h3>
 <canvas id="myChartOne" style="width:350px;height:100%;"></canvas>
</div>
{%endblock%}
{%block scripts%}
{{super()}}
 <script> 
    var obj=$('#myDiv');
    var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //      window.location.href="getSafe";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
            window.location.href="getSensor";
          }else if(X<-10){
            window.location.href="getworkTime";
          }
          else if(X>5||X<-5){
            window.location.href="getSafe";
          }
        }
      }
    })
  var parkName={{parkName|safe}};
  var safeDay={{safeDay|safe}};
  var safeDayZt={{safeDayZt|safe}};
  var safeIndex={{safeIndex|safe}};
  var safeIndexZt={{safeIndexZt|safe}};
  var ctx = $("#myChartOne");
  Chart.defaults.global.defaultFontColor = 'white';
  var chart=new Chart(ctx,{
      type:'horizontalBar',
      data:{
        labels:parkName,
        datasets: [{
          label:'今日安全天数',
            data: safeDay,
            backgroundColor: 'rgb(100,149,237)',
            borderColor: 'rgb(100,149,237)',
        },
        {
            label:'昨日安全天数',
            data: safeDayZt,
            backgroundColor: 'rgb(135,206,250)',
            borderColor: 'rgb(135,206,250)',
        },
        {  label:'昨日安全指数',
            data: safeIndex,
            backgroundColor: 'rgb(120, 150, 209)',
            borderColor: 'rgb(120, 150, 209)',
        },
        {   label:'昨日安全指数',
            data: safeIndexZt,
            backgroundColor: 'rgb(0, 206, 209)',
            borderColor: 'rgb(0, 206, 209)',
        }
        ] 
    },
     options: {
        legend: {
          display: true,
          position:'top',
          labels: {
            fontColor: 'rgb(135,206,250)'
          }
        },
        scales:{
        xAxes:[{
          position:'top',             
        }]
      },
         tooltips: {
          cornerRadius: 0,
          caretSize: 0,
          xPadding: 16,
          yPadding: 10,
          backgroundColor: 'rgb(135,206,250)',
          titleFontStyle: 'normal',
          titleMarginBottom: 15
        }
    }
})

</script>
{%endblock%}