{%extends "base.html"%}
{%block app_content%}
<div>
    <h3 id="myDiv">园区门岗人流及基本信息</h3>
<canvas id="echarts-one" style="width: 600px;height:300px;">
</canvas>
<canvas id="echarts-two" style="width: 600px;height:300px;">
</canvas>
<h4>今日入园人数:  {{data.result['personInNum']}}人</h4>
<h4>今日園區訪客人數:  {{data.result['vistorNum']}}人</h4> 
</div>
{%endblock%}
{%block scripts%}
{{super()}}
<script>
    var obj=$('#myDiv');
    var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //     window.location.href="userList";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
              window.location.href="/security/getDeviceCount";
          }else if(X<-10){
              window.location.href="/security/getMap";
          }
          else if(X>5||X<-5){
         window.location.href="/security/userList";
          }
        }
      }
    }) 
var myCharts = $('#echarts-one');
var myChartsTwo = $('#echarts-two');
var dataDoor={{dataDoor|safe}}
var dataTime={{dataTime|safe}}
var employNum=[],
    dataTimes=[],
    visitorNum=[],
    doorName=[],
    outNum=[],
    inNum=[];
console.log(dataTime.result.list)
for(var i = 0; i < dataDoor.result.reList.length; i++){
    doorName.push(dataDoor.result.reList[i].doorName);
    outNum.push(dataDoor.result.reList[i].outNum);
    inNum.push(dataDoor.result.reList[i].inNum);
}

for(var i = 0; i < dataTime.result.list.length; i++){
    employNum.push(dataTime.result.list[i].employNum);
    visitorNum.push(dataTime.result.list[i].visitorNum);
    dataTimes.push(dataTime.result.list[i].dataTime);
}
console.log(dataTimes)
console.log(employNum)
console.log(visitorNum)
Chart.defaults.global.defaultFontColor = 'white';
var options={
        legend: {
          display: true,
          position: 'top',
          labels: {
            fontColor:'#FFFFFF'
          }
        }
    }
var myBarChartOne=new Chart(myCharts,{
    type:"bar",
    data:{
        labels: doorName,
        datasets: [{
            label:'进入',
            data: inNum,
            backgroundColor: 'rgb(100,149,237)',
            borderColor: 'rgb(100,149,237)',
        },
        {
            label: '离开',
            data: outNum,
            backgroundColor: 'rgb(135,206,250)',
            borderColor: 'rgb(135,206,250)',
        }] 
    },
    options:options
})
 var myBarChartTwo=new Chart(myChartsTwo,{
    type:"bar",
    // scaleFontColor:"#FFFFFF",
    data:{
        labels: dataTimes,
        datasets: [{
            label: '访客',
            data: visitorNum,
            backgroundColor: 'rgb(100,149,237)',
            borderColor: 'rgb(100,149,237)',
        },
        {
            label: '员工',
            data: employNum,
            backgroundColor: 'rgb(135,206,250)',
            borderColor: 'rgb(135,206,250)',
        }] 
    },
    options:options
})
</script>
{%endblock%}