{%extends "base.html"%}
{%block app_content%}
<div>
<h3 id="myDiv">设备在线状态展示</h3>
<canvas id="main" style="width: 600px;"></canvas>
</div>
<!-- 
<table class="table table-striped table-bordered table-responsive table-hover" id="myDiv">
    <caption>设备在线状态展示</caption>
    <thead>
        <tr class="info">
            <th>设备类型</th>
            <th>在线</th>
            <th>离线</th>
        </tr>
    </thead>
    <tbody>
        {%for item in data.result.list %}
        <tr>
            {% if item.deviceType=="1" %}
            <td>人脸抓拍设备</td>
            {% elif item.deviceType=="2" %}
            <td>一线门岗设备</td>
            {%else%}
            <td>门禁设备</td>
            {% endif %}
            <td>{{item.onLineNum}}</td>
            <td>{{item.officeLineNum}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table> -->
{%endblock%}
{%block scripts%}
{{super()}}
<script>
  var obj=$('#myDiv');
  var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //      window.location.href="getDeviceStatus";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
             window.location.href="getAlarmTrend";
          }
          else if(X<-10){
            window.location.href="getAlarmTrend";
        }
          else if(X>5||X<-5){
            window.location.href="getDeviceStatus";
          }
        }
      }
    })
  var ctx=$('#main')
  var data={{data|safe}}
  console.log(data)
  var deviceList=[],
      onLineNum=[],
      officeLineNum=[];
  for(var i=0;i<data.result.list.length;i++){
    if(data.result.list[i].deviceType=='1'){
      deviceList.push('人脸抓拍设备')
    }
    else if(data.result.list[i].deviceType=='2'){
      deviceList.push('一线门岗设备')
    }
    else{
      deviceList.push('门禁设备')
    }
    // deviceList.push(data.result.list[i].deviceType);
    onLineNum.push(data.result.list[i].onLineNum);
    officeLineNum.push(data.result.list[i].officeLineNum);
  }
  console.log(deviceList)
  console.log(onLineNum)
  console.log(officeLineNum)
var options={
        legend: {
          display: true,
          position: 'top',
          labels: {
            fontColor:'#FFFFFF'
          }
        }
    }
  var myChart=new Chart(ctx,{
    type:'bar',
    data:{
      labels:deviceList,
      datasets:[
      {
        label:'在线',
        data:onLineNum,
        backgroundColor: 'rgb(100,149,237)',
        borderColor: 'rgb(100,149,237)',
      },
      {
        label:'离线',
        data:officeLineNum,
        backgroundColor: 'rgb(0, 206, 209)',
        borderColor: 'rgb(0, 206, 209)',
      }]
    },
    options:options
    
  })
</script>
{%endblock%}