{%extends 'base.html' %}
 {%- block styles %}
{{super()}}
<style type="text/css" media="screen">
    * { margin: 0; padding: 0; }
        html { height: 100%; }
        body { height: 100%;  background: linear-gradient(#38388e,#121235); background-size: cover;}
        .dowebok { position: absolute; left: 50%; top: 50%; width: 430px; height: 550px; margin: -300px 0 0 -215px; border: 1px solid #fff; border-radius: 20px; overflow: hidden;}
        .logo { width: 120px; height: 120px; margin: 20px auto 20px; background: url(../static/images/LOGO.png); }
        .form-item { position: relative; width: 360px; margin: 0 auto; padding-bottom: 30px;}
        .form-item h1{color:#fff;text-align:center;}
        .form-item input { width: 360px; height: 50px; padding-left: 70px; border: 1px solid #fff; border-radius: 25px; font-size: 18px; color: #fff; background-color: transparent; outline: none;}
        .form-item button { width: 360px; height: 50px; border: 0; border-radius: 25px; font-size: 18px; color: #000; outline: none; cursor: pointer; background-color: #fff; }
        #username { background: url(../static/images/user_icon.png) 10px 5px no-repeat; }
        #password { background: url(../static/images/password.png) 23px 11px no-repeat; }
        .tip { display: none; position: absolute; left: 20px; top: 52px; font-size: 14px; color: #f50; }
        .dowebok ::-webkit-input-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .dowebok :-moz-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .dowebok ::-moz-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .dowebok :-ms-input-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        @media screen and (max-width: 500px) {
            * { box-sizing: border-box; }
            .dowebok { position: static; width: auto; height: auto; margin: 0 30px; border: 0; border-radius: 0; }
            .logo { margin: 10px auto; }
            .form-item { width: auto; }
            .form-item h1,.form-item input, .form-item button { width: 100%; }
        }
</style>

{%endblock styles%}
{% block navbar %}
{%- endblock navbar %}
{%block app_content %}
<div class="dowebok">
        <form method="post" action="{{url_for('security.userList')}}" role="form">
        <div class="logo"></div>
        <div class="form-item">
           <h1>智慧园区</h1>
        </div>
        <div class="form-item">
            <input id="username" type="text" name="username" autocomplete="off" placeholder="用户名">
        </div>
        <div class="form-item">
            <input id="password" type="password" name="password" autocomplete="off" placeholder="登录密码">
        </div>
        <div class="form-item"><button id="submit">登 录</button></div>
        </form>
    </div>
{%endblock%}