{%extends "base.html"%}
{% block app_content%}
<div id="myDiv">
 <canvas id="main" style="width: 600px;height:600px;"></canvas> 
</div>

{%endblock%}
{%block scripts%}
{{super()}}
 <script>  
  var obj=$('#myDiv');
    var X,Y;
    obj.on("touchstart", function(e) {
　　　　e.preventDefault();// 使用event.preventDefault()可以取消默认事件
　　　　startX = e.originalEvent.changedTouches[0].pageX,
　　　　startY = e.originalEvent.changedTouches[0].pageY;
       time=+new Date;//正號(+)是強制轉換為數字的語法
       isScrolling=0;
　　});
    obj.on("touchmove", function(e) {
          if(e.originalEvent.changedTouches.length > 1 || e.originalEvent.scale && e.originalEvent.scale !== 1)return;
    　　　　moveEndX = e.originalEvent.changedTouches[0].pageX,
    　　　　moveEndY = e.originalEvent.changedTouches[0].pageY,
    　　　　X = moveEndX - startX,
    　　　　Y = moveEndY - startY;
           isScrolling=Math.abs(X)<Math.abs(Y)?1:0;
           if(isScrolling===0){
              e.preventDefault();
           }
           // else{
           //     window.location.href="getDataCount";
           // }
    　　});
    obj.on("touchend",function(e){
      var duration = +new Date -time; //滑动的持续时间
      if(isScrolling===0){
        if(Number(duration)>10){
          if(X>10){
              window.location.href="getMicroStatus";
          }else if(X<-10){
               window.location.href="getDataStatus";
          }
          else{
         window.location.href="getDataCount";
          }
        }
      }
    }) 
var data={{data|safe}};
var systemName =[];
var time=[];
var totalNum= [];

  for(var i = 0; i < data.result.list.length; i++){
      // default_datasets[i].label=data.result.list[i].name;
      systemName.push(data.result.list[i].name);  
      // console.log(default_datasets[i].label)
      var demo=[];
      for(var j=0;j<data.result.list[i]['dataList'].length;j++){
        demo.push(data.result.list[i]['dataList'][j].totalNum);
        // default_datasets[i].data=data.result.list[i]['dataList'][j].totalNum;
        // console.log(default_datasets[i].data)
      } 
      totalNum.push(demo)
}
for(var m=0;m<data.result.list[0]['dataList'].length;m++){
    time.push(data.result.list[0]['dataList'][m].time);
    // configs.data.labels.push(data.result.list[0]['dataList'][m].time);
    // console.log(configs.data.labels)
}
console.log(systemName)
console.log(totalNum[1])
console.log(time)

var default_datasets=[
{
            label: systemName[0],
            borderColor: 'rgb(0, 206, 209)',
            data : totalNum[0]
        },
        {
            label: systemName[1],
            borderColor: 'rgb(255,182,193)',
            data : totalNum[1]
        },
        {
            label: systemName[2],
            borderColor:'rgb(221,160,221)',
            data : totalNum[2]
        },
        {
            label: systemName[3],
            borderColor:'rgb(147,112,219)',
            data : totalNum[3]
        },
        {
            label: systemName[4],
            borderColor:'rgb(70,130,180)',
            data : totalNum[4]
        }
      ]
var datas={
  labels:time,
  datasets:default_datasets,
}
Chart.defaults.global.elements.line.fill=false;
var options={
  legend: {
          display: true,
          onHover:function(e){
            e.target.style.cursor='pointer';
          },
          position: 'top',
          labels: {
            fontColor: 'rgb(0, 206, 209)'
          }
        },
         tooltips: {
          cornerRadius: 6,
          caretSize: 0,
          xPadding: 16,
          yPadding: 10,
          // backgroundColor: 'rgba(0, 150, 100, 0.9)',
          titleFontStyle: 'normal',
          titleMarginBottom: 15
        }
}
var ctx = $("#main");
var lineChart=new Chart(ctx,{
  type:'line',
  data:datas,
  options:options
});
</script>
{%endblock%}