{%extends "bootstrap/base.html" %}
{%block metas%}
 <meta name="viewport"
        content="width=device-width,initial-scale=1.0,user-scalable=no">
{%endblock metas%}
{% block styles%}
{{super()}}
<!-- <link href="../static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<style>
  body {
  margin: 0;
  font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
caption,h3,h4{color:#FFFFFF;}

 /* .navbar .container .navbar-header>a{
     font-size: 30px;
  }
 .navbar .navbar-nav > li > a {
    font-size: 28px;
} 
 .navbar .navbar-nav > li > ul> li >a {
    font-size: 26px;
} */
body{
  background: -webkit-radial-gradient(left,circle,#121235 10%,#1f1954);
}
</style>
{%- endblock styles %}
{% block navbar %}
<div class="navbar-wrapper">
      <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="../static/images/LOGO.png" alt="" style="float:left;width:100px;height:30px;">
              </a>
            </div>
            <div id="navbar1" class="collapse navbar-collapse navbar-right is-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="">安全主题
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('security.getCampusSecurity')}}" title="">园区安全</a></li> 
                            <li><a href="{{url_for('security.getMap')}}" title="">园区地图</a></li>
              <li><a href="{{url_for('security.userList')}}" title="">园区门岗人流及基本信息</a></li>
                <li><a href="{{url_for('security.getDeviceCount')}}" title="">抓拍数量</a></li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="">综合人流主题
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="{{url_for('pagestream.getAlarmTrend')}}" title="">園區安防告警趨勢</a></li>
                           <li><a href="{{url_for('pagestream.getDeviceStatus')}}" title="">设备在线状态展示</a></li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="">人资主题
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('hr.zcList')}}" title="">职称分布</a></li> 
                <li><a href="{{url_for('hr.ygList')}}">用工分布</a></li>
            </ul>
                </li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="">决策层主题
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('decision.getSensor')}}" title="">感知分布</a></li>  
                            <li><a href="{{url_for('decision.getUserTrend')}}" title="">人力整体趋势</a></li>
                            <li><a href="{{url_for('decision.getUserDis')}}" title="">人力整体分布</a></li> 
                            <li><a href="{{url_for('decision.getCampus')}}" title="">出勤人数</a></li>
                            <li><a href="{{url_for('decision.getworkTime')}}" title="">平均工时</a></li> 
                            <li><a href="{{url_for('decision.getSafe')}}" title="">安全分布</a></li> 
            </ul>
                </li>
                <li><a href="{{url_for('auth.logout')}}" title="">logout</a></li>
            </ul> 
        </div>
    </div>
</nav>
</div>
</div>
{%endblock%}
{%block content%}
<div class="container">
    {%with messages=get_flashed_messages()%}
  {%if messages%}
    {% for message in messages %}
    <div class="alert alert-info" role="info">{{message}}</div>
    {%endfor%}
  {%endif%}
  {%endwith%}
  <div style="height:100px">  
  </div>
  {%block app_content%}
  {%endblock%}
</div>
{%endblock%}
{%block scripts%}
{{super()}}
<!-- <script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script> -->
 <script src="../static/js/Chart.js/Chart.bundle.min.js"></script>
{%- endblock scripts %}